 {{!-- Added sticky footer so footer sticks to the bottom of the page --}}
<link href="css/sticky_footer.css" rel="stylesheet">
<link href="css/modalDraft.css" rel="stylesheet">

<br>
<br>


<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-7">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://vignette3.wikia.nocookie.net/marvelmovies/images/9/99/Peter_Parker.jpg/revision/latest?cb=20080414075452" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>Peter Parker</h4>
                        <small><cite title="San Francisco, USA"> San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-user"></i> @spiderman
                            <br />
                            <i class="glyphicon glyphicon-pencil"></i> Sci-Fi Fiction Writer
                            <br />
                            <i class="glyphicon glyphicon-envelope"></i> email@example.com
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com"> www.blog.com/peterparker</a>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i> June 02, 1988
                            <br />
                            <i class="glyphicon glyphicon-education"></i> University of Central Florida
                        </p>

                        <div class="container">
                            <div class="btn-group" role="group" aria-label="...">
                            {{#if user}}
                                        <button type="button" a href="/" class="btn btn-default">Edit Info</button>
                                        <button type="button" class="btn btn-default">Change Profile Picture</button>
                                        <button type="button" class="btn btn-default">Reply to comments</button>
                            {{else}}
                                        <button type="button" class="btn btn-default">Follow</button>
                                        <button type="button" class="btn btn-default">Unfollow</button>
                                        <button type="button" class="btn btn-default">Comment to this Writer</button>
                            {{/if}}
                                    </div>
                                </div>
                              </div>
                         </div>
                     </div>
                 </div>
             </div>
        </div>
    </div>
    <br>
    
    <div class="container">
    <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
    <div class="well well-sm">
        <h4>Followers</h4>
        <h4>Following</h4>
        <h4>Drafts Shared</h4>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
    <a href="/addDraft">
        <button type="button" class="btn btn-lg btn-primary">Add New Draft</button>
    </a> 

    <a href="/editDraft">
        <button type="button" class="btn btn-lg btn-primary">Edit Existing Draft</button>
    </a>

    <a href="/draft">
        <button type="button" class="btn btn-lg btn-primary">View Drafts</button>
    </a>
    
    </div>

    <br>
    <br>

   

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Newsfeed</h3>
        </div>
            <div class="panel-body">
        Panel content 
        <br />
        Panel content
        <br />
        Panel content
        <br />
        Panel content
        <br />
        Panel content
        <br />
        Panel content
        <br />
        Panel content
        </div>
    </div>