 {{!-- Added sticky footer so footer sticks to the bottom of the page --}}
<link href="css/sticky_footer.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>Peter Parker</h4>
                        <small><cite title="San Francisco, USA"> San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-user"></i> @spiderman
                            <br />
                            <i class="glyphicon glyphicon-pencil"></i> Sci-Fi Fiction Writer
                            <br />
                            <i class="glyphicon glyphicon-envelope"></i> email@example.com
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com"> www.blog.com/peterparker</a>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i> June 02, 1988
                            <br />
                            <i class="glyphicon glyphicon-education"></i> University of Central Florida

                        </p>

                              </div>
                         </div>
                     </div>
                 </div>
             </div>
        </div>
    </div>
    
    <div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
        <h4>Followers</h4>
        <h4>Following</h4>
        <h4>Drafts Shared</h4>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="container">
        <button type="button" class="btn btn-lg btn-primary">Add New Draft</button>
        
        <button type="button" class="btn btn-lg btn-primary">Edit Existing Draft</button>
        
        <button type="button" class="btn btn-lg btn-primary">View Drafts</button>
    </div>

    <br>
    <br>

   

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Newsfeed</h3>
        </div>
            <div class="panel-body">
        Panel content 
        <br />
        Panel content
        <br />
        Panel content
        <br />
        Panel content
        <br />
        Panel content
        <br />
        Panel content
        <br />
        Panel content
        </div>
    </div>